@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        This is SLA Calculator Application
    </p>

    <p>
        Developed By : Abhinandan Kothari
    </p>

    <p>
        Developed By using ASP.NET MVC 4 in Visual Studio 2012 and Also using SQL Server 2012 and .NET framework 4.5
    </p>
</article>

<aside>
    <h3>Aside Title</h3>
    <p>
        Calculate your Broken SLA's with Ease. Just register login and click on Calculate Button.
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>